parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$key of method Illuminate\\\\Cache\\\\RateLimiting\\\\Limit\\:\\:by\\(\\) expects string, int\\<min, \\-1\\>\\|int\\<1, max\\>\\|string\\|null given\\.$#"
			count: 1
			path: app/Providers/RouteServiceProvider.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: routes/console.php
