includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon
parameters:

    paths:
        - app
        - bootstrap
        - config
        - database
        - lang
        - routes

    # The level 9 is the highest level
    level: 8

    checkMissingIterableValueType: false
